:root {
	--dap-font-family: "Gilroy", ui-sans-serif, system-ui, -apple-system, sans-serif;
	--dap-font-size: 16px;
	--dap-font-weight: 400;
	--dap-line-height: 1;
	--dap-font-color: #222;
	--dap-transition: 0.2s ease-in-out;
	--dap-radius: 10px;
	--dap-white-color: #fff;
	--dap-brand-color: #1481b8;
	--dap-primary-color: #215b78;
	--dap-primary-hover-color: #264c5e;
	--secondary-color: #ff4040;
	--error-color: #d83646;
	--white-color: #fff;
	--black-color: #202123;
	--green-color: #19c37d;
	--cc-default-text-color: var(--black-color);
	--text-color-100: #ececf1;
	--text-color-400: #acacbe;
	--text-color-600: #565869;
	--ready-color: var(--green-color);
	--in-process-color: #f3ae59;
	--stopped-color: var(--text-color-400);
	--bs-shadow: 0px 2px 3px rgb(0 0 0 / 15%), 0px 2px 6px rgb(0 0 0 / 8%);
	--hover-shadow: 0 0 5px rgb(0 0 0 / 15%), 0 0 10px rgb(0 0 0 / 10%), 0 0 15px rgb(0 0 0 / 5%);
	--m-chat-default-transition: 0.2s ease-in-out;
	--m-chat-bg-color: #f4fcfe;
	--m-chat-hue-color: 198;
	--m-chat-primary-color: hsl(var(--m-chat-hue-color) 95% 35%);
	--m-chat-primary-dark-color: hsl(var(--m-chat-hue-color) 95% 30%);
	--m-chat-system-color: rgb(84 37 110 / 80%);
	--m-chat-head-radius: 5px;
	--m-chat-head-bg-color: linear-gradient(272deg, var(--m-chat-primary-dark-color) 0%, var(--m-chat-primary-color) 100%);
	--m-chat-white-color: #fff;
	--m-chat-error-color: #de3730;
	--m-chat-base-shadow: 0 0 5px rgb(0 0 0 / 10%);
	--m-chat-avatar-size: 28px;
	--m-chat-form-radius: 5px;
	--m-chat-form-border-color: #ccc;
}
